<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Test Servlet</display-name>
  <description> Test Servlet</description>
  <servlet>
    <servlet-name>frontup</servlet-name>
    <servlet-class>ws.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showcase</servlet-name>
    <jsp-file>/frontpage.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontup</servlet-name>
    <url-pattern>/ClientConstructor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>frontup</servlet-name>
    <url-pattern>/debug</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showcase</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showcase</servlet-name>
    <url-pattern>/frontpage.html</url-pattern>
  </servlet-mapping>
  
  <listener>
     <listener-class>
        listeners.SRlistener
     </listener-class>
  </listener>
  
</web-app>